header {
  height: 10vh;

  width: 100%;
  nav {
    height: 10vh;
    padding: 0 10vw;
    @include flex;
    width: 100%;
    .logo {
      height: 6vh;
    }
    ul {
      @include flex;
      width: 40vh;
      font-family: "montserrat", sans-serif;
    }
  }
}

main {
  h1 {
    font-size: 4.5rem;
    text-align: center;
    margin-top: 70vh;
    font-weight: 200;
    position: relative;
    &:after {
      content: "";
      height: 1vh;
      width: 15vw;
      background-color: #db5431;
      position: absolute;
      bottom: -10%;
      right: 32%;
      transform: skewY(-3deg);
    }
  }
  h3 {
    font-size: 2rem;
    text-align: center;
    font-family: "montserrat", sans-serif;
    margin-top: 5vh;
    font-weight: 300;
  }
  .hero {
    position: absolute;
    height: 60vh;
    top: 10vh;
    right: 50%;
    transform: translateX(50%);
    opacity: 1;
  }
  .bg {
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 50vh;
  }
}
.cta {
  padding: 3vh 5vw;
  margin: 5% 0 0 50%;
  transform: translateX(-50%);
  background-color: #db5431;
  color: white;
  border: 0.5vh solid #db5431;
  font-family: "montserrat", sans-serif;
  font-size: 1.3rem;
  font-weight: bolder;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  &:before {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    width: 0%;
    right: -15%;
    transform: skewX(45deg);
    transition: all 0.4s ease;
  }
  &:hover:before {
    z-index: -1;
    background: #6c63ff;
    width: 150%;
  }
  &:hover {
    box-shadow: -10px 10px 10px rgba($color: #2e0a01, $alpha: 1);
  }
}
