header {
  height: 10vh;

  width: 100%;
  nav {
    height: 10vh;
    padding: 0 10vw;
    @include flex;
    width: 100%;
    .logo {
      height: 6vh;
    }
    ul {
      @include flex;
      width: 40vh;
      font-family: "montserrat", sans-serif;
    }
  }
}

main {
  h1 {
    font-size: 4.5rem;
    text-align: center;
    margin-top: 70vh;
    font-weight: 200;
    position: relative;
    &:after {
      content: "";
      height: 1vh;
      width: 15vw;
      background-color: #db5431;
      position: absolute;
      bottom: -10%;
      right: 32%;
      transform: skewY(-3deg);
    }
  }
  h3 {
    font-size: 2rem;
    text-align: center;
    font-family: "montserrat", sans-serif;
    margin-top: 5vh;
    font-weight: 300;
  }
  .hero {
    position: absolute;
    height: 60vh;
    top: 10vh;
    right: 50%;
    transform: translateX(50%);
    opacity: 1;
  }
  .bg {
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 50vh;
  }
}
.container {
  padding: 0 10vw;
}
.cta {
  padding: 3vh 5vw;
  margin: 5% 0 0 50%;
  transform: translateX(-50%);
  background-color: #db5431;
  color: white;
  border: 0.5vh solid #db5431;
  font-family: "montserrat", sans-serif;
  font-size: 1.3rem;
  font-weight: bolder;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.8s ease-in-out;
  &:before {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    width: 0%;
    right: -15%;
    transform: skewX(45deg);
    transition: all 0.8s ease;
  }
  &:hover:before {
    z-index: -1;
    background: #6c63ff;
    width: 150%;
  }
  &:hover {
    box-shadow: -10px 10px 10px rgba($color: #2e0a01, $alpha: 1);
  }
}
.prod-quote {
  min-height: 100vh;
  position: relative;
  .main-purp-bg {
    position: absolute;
    width: 100%;
    top: 40%;
    height: 70vh;
    z-index: -1;
  }
  .heading {
    font-size: 3rem;
    margin: 10% 0 0 10%;
  }
  .card-container {
    @include flex;
    justify-content: space-between;
  }
  .card {
    margin-top: 10%;
    height: 60vh;
    width: 17vw;
    background-color: #c4c4c4;
    z-index: 1;
    position: relative;
    transition: all 0.8s ease;
    &:hover {
      transform: translateY(-1.5vh);
      box-shadow: -10px 10px 20px rgba($color: rgb(44, 15, 44), $alpha: 0.8);
    }
    &:hover img {
      scale: 1.2;
      filter: drop-shadow(-10px 10px 5px rgba(54, 49, 49, 0.4));
    }
    img {
      transform-origin: right;
      position: absolute;
      height: 20vh;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
      transition: all 0.8s ease;
    }
  }
  a {
    position: absolute;
    right: 20%;
    bottom: 0;
    font-size: 2.5rem;
    &:hover img {
      transform: translateX(2vw);
    }
    img {
      transition: all 0.8s ease;
      position: absolute;
      height: 5vh;
      right: -40%;
      top: 5%;
    }
  }
}
.about-us {
  height: 110vh;
  margin-top: 10%;
  .heading {
    font-size: 3rem;
    margin: 10% 0 0 10%;
  }
  .kratos-face {
    padding: 5vw 10vw;
    float: left;
  }
  p {
    font-size: 2.5rem;
    margin-top: 20vh;
    padding-right: 10vw;
    font-family: "montserrat", sans-serif;
    span {
      font-family: "nothing you could do", cursive;
      color: #db5431;
      font-size: 3rem;
    }
  }
}
.bottom-path {
  position: absolute;
  top: 0vh;
  z-index: -1;
  width: 100%;
}
.contact {
  position: relative;
  h1 {
    text-align: center;
    font-size: 3rem;
  }
  #email {
    margin-top: 10vh;
    width: 50vw;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .bottom {
    position: absolute;
    background-color: #6c63ff;
    border: 0.5vh solid #6c63ff;
    &:hover:before {
      background: #db5431;
      border: 3px soild #6c63ff;
      width: 150%;
    }
  }
}

.input-field {
  position: relative;
  width: 90%;
  height: 10vh;
  overflow: hidden;
  position: relative;
  margin-top: 5vh;
  input {
    height: 10vh;
    width: 100%;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    padding-top: 6vh;
    background: transparent;

    &:focus ~ label span,
    &:valid ~ label span {
      transform: translateY(-2vh);
      font-size: 1rem;
      color: #db5431;
    }
    &:focus ~ label::after,
    &:valid ~ label::after {
      transform: translate(0);
    }
  }
  label {
    pointer-events: none;
    position: absolute;
    width: 100%;
    left: 0;
    transition: 0.4s ease-in-out;
    bottom: 0;

    &::after {
      transition: 0.8s ease-in-out;
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      border-bottom: 3px solid #db5431;
      left: 0;
      bottom: 0;
      transform: translateX(-100%);
    }
  }
  span {
    position: absolute;
    font-size: 1.5rem;
    width: 100%;
    left: 0;
    transition: 0.4s ease-in-out;
    bottom: 1vh;
  }
}
