header {
  height: 10vh;

  width: 100%;
  nav {
    height: 10vh;
    padding: 0 10vw;
    @include flex;
    width: 100%;
    .logo {
      height: 6vh;
    }
    ul {
      @include flex;
      width: 40vh;
      font-family: "montserrat", sans-serif;
    }
  }
}

main {
  h1 {
    font-size: 5rem;
    text-align: center;
    margin-top: 70vh;
    font-weight: 200;
  }
  h3 {
    font-size: 2.5rem;
    text-align: center;
    font-family: "montserrat", sans-serif;
    margin-top: 10vh;
    font-weight: 300;
  }
  .hero {
    position: absolute;
    height: 60vh;
    top: 10vh;
    right: 50%;
    transform: translateX(50%);
  }
  .bg {
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 50vh;
  }
}
