@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap");

@mixin flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@import "mainpage";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #202020;
  color: #fff;
}
li,
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style-type: none;
}
