#prod-back {
  height: 90vh;
  position: absolute;
  top: 15vh;
}
.container {
  padding: 0 10vh;
}
.prod-page {
  margin-top: 0;
  .description {
    @include flex;
    flex-direction: column;
    height: 40vh;
    position: absolute;
    top: 20vh;
    right: 60%;
  }
}
