@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Nothing+You+Could+Do&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
body {
  background-color: #202020;
  color: white;
  position: relative;
  font-family: "nothing you could do", cursive;
  scroll-behavior: smooth;
}
ul {
  list-style-type: none;
}

@mixin flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@import "mainpage";
@import "login";
@import "signup";
@import "Umain";
@import "prod-desc";
@import "debitcard";
@import "successpage";
@import "success";
