@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Nothing+You+Could+Do&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #202020;
  color: white;
  position: relative;
  font-family: "nothing you could do", cursive;
}

ul {
  list-style-type: none;
}

header {
  height: 10vh;
  width: 100%;
}

nav {
  height: 10vh;
  padding: 0 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

nav .logo {
  height: 6vh;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40vh;
  font-family: "montserrat", sans-serif;
}

main h1 {
  font-size: 4.5rem;
  text-align: center;
  margin-top: 70vh;
  font-weight: 200;
  position: relative;
}

main h1:after {
  content: "";
  height: 1vh;
  width: 15vw;
  background-color: #db5431;
  position: absolute;
  bottom: -10%;
  right: 32%;
  -webkit-transform: skewY(-3deg);
          transform: skewY(-3deg);
}

main h3 {
  font-size: 2rem;
  text-align: center;
  font-family: "montserrat", sans-serif;
  margin-top: 5vh;
  font-weight: 300;
}

main .hero {
  position: absolute;
  height: 60vh;
  top: 10vh;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  opacity: 1;
}

main .bg {
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 50vh;
}

.container {
  padding: 0 10vw;
}

.cta {
  padding: 3vh 5vw;
  margin: 5% 0 0 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #db5431;
  color: white;
  border: 0.5vh solid #db5431;
  font-family: "montserrat", sans-serif;
  font-size: 1.3rem;
  font-weight: bolder;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

.cta:before {
  content: "";
  position: absolute;
  height: 0%;
  top: 0;
  width: 0%;
  right: -15%;
  -webkit-transform: skewX(45deg);
          transform: skewX(45deg);
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.cta:hover:before {
  z-index: -1;
  background: #6c63ff;
  width: 150%;
  height: 100%;
}

.cta:hover {
  -webkit-box-shadow: -10px 10px 10px #2e0a01;
          box-shadow: -10px 10px 10px #2e0a01;
}

.prod-quote {
  min-height: 100vh;
  position: relative;
}

.prod-quote .main-purp-bg {
  position: absolute;
  width: 100%;
  top: 40%;
  height: 70vh;
  z-index: -1;
}

.prod-quote .heading {
  font-size: 3rem;
  margin: 10% 0 0 10%;
}

.prod-quote .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: space-between;
}

.prod-quote .card {
  margin-top: 10%;
  height: 60vh;
  width: 17vw;
  background-color: #c4c4c4;
  z-index: 1;
  position: relative;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.prod-quote .card:hover {
  -webkit-transform: translateY(-1.5vh);
          transform: translateY(-1.5vh);
  -webkit-box-shadow: -10px 10px 20px rgba(44, 15, 44, 0.8);
          box-shadow: -10px 10px 20px rgba(44, 15, 44, 0.8);
}

.prod-quote .card:hover img {
  scale: 1.2;
  -webkit-filter: drop-shadow(-10px 10px 5px rgba(54, 49, 49, 0.4));
          filter: drop-shadow(-10px 10px 5px rgba(54, 49, 49, 0.4));
}

.prod-quote .card img {
  -webkit-transform-origin: right;
          transform-origin: right;
  position: absolute;
  height: 20vh;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.prod-quote a {
  position: absolute;
  right: 20%;
  bottom: 0;
  font-size: 2.5rem;
}

.prod-quote a:hover img {
  -webkit-transform: translateX(2vw);
          transform: translateX(2vw);
}

.prod-quote a img {
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  position: absolute;
  height: 5vh;
  right: -40%;
  top: 5%;
}

.about-us {
  height: 110vh;
  margin-top: 10%;
}

.about-us .heading {
  font-size: 3rem;
  margin: 10% 0 0 10%;
}

.about-us .kratos-face {
  padding: 5vw 10vw;
  float: left;
}

.about-us p {
  font-size: 2rem;
  margin-top: 20vh;
  padding-right: 10vw;
  font-family: "montserrat", sans-serif;
}

.about-us p span {
  font-family: "nothing you could do", cursive;
  color: #ff8465;
  font-size: 3rem;
}

.bottom-path {
  position: absolute;
  top: 0vh;
  z-index: -1;
  width: 100%;
}

.contact {
  position: relative;
}

.contact h1 {
  text-align: center;
  font-size: 3rem;
}

.contact #email {
  margin-top: 10vh;
  width: 50vw;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.contact .bottom {
  position: absolute;
  background-color: #6c63ff;
  border: 0.5vh solid #6c63ff;
}

.contact .bottom:hover:before {
  background: #db5431;
  border: 3px soild #6c63ff;
  width: 150%;
}

.input-field {
  position: relative;
  width: 90%;
  height: 10vh;
  overflow: hidden;
  position: relative;
  margin-top: 5vh;
}

.input-field input {
  height: 10vh;
  width: 100%;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  padding-top: 6vh;
  background: transparent;
}

.input-field input:focus ~ label span,
.input-field input:valid ~ label span {
  -webkit-transform: translateY(-2vh);
          transform: translateY(-2vh);
  font-size: 1rem;
  color: #db5431;
}

.input-field input:focus ~ label::after,
.input-field input:valid ~ label::after {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.input-field label {
  pointer-events: none;
  position: absolute;
  width: 100%;
  left: 0;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  bottom: 0;
}

.input-field label::after {
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #db5431;
  left: 0;
  bottom: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.input-field span {
  position: absolute;
  font-size: 1.5rem;
  width: 100%;
  left: 0;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  bottom: 1vh;
}

.container {
  padding: 0 10vw;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.log {
  margin: 5vh auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info,
.login-form {
  background-color: rgba(196, 196, 196, 0.4);
  border-radius: 1.5rem;
  height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info {
  width: 30vw;
  padding: 10vh 0;
}

.info h3 {
  font-size: 1.5rem;
}

.logkratos {
  height: 30vh;
}

.login-form {
  width: 45vw;
  height: 110vh;
  padding: 8vh;
}

.login-form h1 {
  font-size: 2.5rem;
  position: relative;
}

.login-form h1:after {
  content: url("../assets/Vector 6.svg");
  position: absolute;
  right: -30%;
  top: 65%;
}
/*# sourceMappingURL=style.css.map */