@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Nothing+You+Could+Do&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  color: white;
  font-family: "montserrat", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
@import "adminmainpage";
@import "manageprod";
